@use "variables";
@use "hero";
@use "header";
@use "pilots";

@font-face {
  font-family: Vandal;
  src: url(../../assets/fonts/Legal\ Vandal\ Stencil.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Migontama;
  src: url(../../assets/fonts/Migontama-Regular.otf);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Migontama;
  scroll-behavior: smooth;
  color: variables.$mainTextColor;
}

body {
  background-color: variables.$mainTextColor;
}

.text--small {
  font-size: 14px;
  font-family: Migontama;
}
.text--normal {
  font-size: 16px;
  font-family: Migontama;
}
.text--big {
  font-size: 20px;
  font-family: Migontama;
}

.title--small {
  font-size: 24px;
  font-family: Vandal;
}
.title--normal {
  font-size: 36px;
  font-family: Vandal;
}
.title--big {
  font-size: 48px;
  font-family: Vandal;
}

p {
  font-family: Vandal;
  font-size: 80px;
  color: variables.$backgroundColor;

  @media (max-width: 768px) {
    font-size: 50px;
  }
}
h2 {
  font-family: Vandal;
  font-size: 90px;
  text-align: center;
  color: variables.$headerColor;
}

.button {
  font-family: Vandal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 20px;
  color: variables.$backgroundColor;
  background-color: variables.$primaryButtonBackgroundColor;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 14px;

  &:hover {
    background-color: lighten(variables.$primaryButtonBackgroundColor, 5%);
  }
}

.backBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 10px;
  margin-right: 8px;

  a {
    text-decoration: none;
  }

  &__content {
    cursor: pointer;

    img {
      width: 50px;
      &:hover {
        color: lighten(variables.$mainTextColor, 10%);
      }
    }

    p {
      color: variables.$mainTextColor;
      font-size: 24px;
      &:hover {
        color: lighten(variables.$mainTextColor, 10%);
      }
    }
  }
}
